{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">        
        <div class="row">
            <div class="col-md-3 col-lg-3 " align="center" style="margin-bottom: 15px">
                {% set image = current_user.image if current_user.image else url_for('static', filename='img/user.jpg') %}
                <div class="user-pic" style="background-image: url('{{ image }}')"></div>
            </div>
            <div class=" col-md-9 col-lg-9" style="margin-bottom: 15px">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td colspan="2"><h3>{{ current_user.firstName }} {{ current_user.lastName }}</h3></td>
                        </tr>
                        <tr>
                            <td>Data de Cadastro:</td>
                            <td>{{ current_user.create|date_format() }}</td>
                        </tr>
                        <tr>
                            <td>Data da Última Alteração:</td>
                            <td>{{ current_user.update|date_format() }}</td>
                        </tr>
                        <tr>
                            <td>Sexo</td>
                            <td>{{ 'Masculino' if current_user.gender == 'M' else 'Feminino' }}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a>
                            </td>
                        </tr>    
                    </tbody>
                </table>
    
                <a href="{{ url_for('account.update', id=current_user.id) }}" class="btn btn-primary">Alterar Dados</a>
                <a href="{{ url_for('account.updatePassword', id=current_user.id) }}" class="btn btn-primary">Alterar Senha</a>
            </div>
        </div>
    </div> 
</div>
{% endblock %}