{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">        
        <div class="row">
            <div class="col-xs-12" style="margin-bottom: 15px">
                <h3>Alteração de Senha</h3>
                <hr>
            </div>
            <div class="col-xs-12 col-md-9" style="margin-bottom: 15px">
                <form action="" class="form-horizontal" method="POST">
                    {{ form.csrf_token }}

                    {{ form.currentPassWord() }}

                    {{ form.newPassWord() }}

                    {{ form.newPassWordVerify() }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form.submit(class="btn btn-primary")}}
                            <a href="{{ url_for('account.index') }}" class="btn btn-info">Voltar</a>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </div> 
</div>
{% endblock %}