{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">
        <div class="row">

            <div class="col-xs-12" style="margin-bottom: 15px">
                <h3>{{ title }}</h3>
                <hr>
            </div>

            <div class="col-xs-12 col-md-9" style="margin-bottom: 15px">
                <form action="" class="form-horizontal" method="POST">
                    {{ form.csrf_token }} {{ form.config_id() }} {{ form.api_url() }}
                    {{ form.api_user() }} {{ form.api_pass() }} {{ form.magento_version() }}
                    {{ form.categoria_default() }} {{ form.dtsincr_estoque(disabled=True) }}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            {{ form.submit(class="btn btn-primary")}}
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}