{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">
        <div class="row">
            
            <div class="col-xs-12" style="margin-bottom: 15px">
                <h3>{{ title }} <span class="label label-default">{{ subtitle }}</span></h3>
                <hr>
            </div>

            {% if task %}
                <div id="task-panel" class="col-xs-12 col-md-12" style="margin-bottom: 15px">
                    <h3 id="task-title">Existe uma tarefa em execução</h3>
                    <div id="task-message" class="alert alert-info" role="alert"></div>
                    <div class="progress">
                        <div id="preco-progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: ">
                            ${currentPerc}%
                        </div>
                    </div>

                    <ul id="error-list" class="list-group"></ul>
                </div>
            {% else %}
                <div class="col-xs-12 col-md-9" style="margin-bottom: 15px">
                    <form action="" method="POST">
                        {{ form.csrf_token }} 

                        <div class="form-group">
                            <div class="col-md-3">
                                {{ form.enviar(class="btn btn-primary")}}
                            </div>
                        </div>
                    </form>
                </div>

                {% if produtos %}
                <div class="col-md-12" style="margin-bottom: 15px">
                    <table
                        id="mytable"
                        class="display" 
                        data-toggle="table"
                        data-search="true"
                        data-show-columns="true"
                        data-click-to-select="true"
                        data-toolbar="#toolbar"
                        data-show-export="true">
                        <thead>
                            <tr>
                                <th data-sortable="true">Codigo</th>
                                <th data-sortable="true">Descrição</th>
                                <th data-sortable="true">Marca</th>
                                <th data-sortable="true">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in produtos %}
                            <tr>
                                <td>{{ p.idsubproduto }}</td>
                                <td>{{ '%s %s'|format(p.produto.descrcomproduto, p.subdescricao) }}</td>
                                <td>{{ p.produto.fabricante }}</td>
                                <td>{{ 'Inativado' if p.flaginativo == 'T' else 'Reativado' }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="col-md-12" style="margin-bottom: 15px">
                    <h3 class="text-info text-center">Não existem produtos para serem atualizados.</h3>
                </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% if task %}
<script>
    $(document).ready(function () {
        var iniciar = precoControl();
        iniciar.init('{{ task.id }}');
    });
</script>
{% endif %}
{% endblock %}