{% extends 'base.html' %} 

{% block content %}
<div class="col-xs-12" style="margin-bottom: 15px">
    <div class="ultra-feature-container">
        <div class="row">
            
            <div class="col-xs-12" style="margin-bottom: 15px">
                <h3>{{ title }} <span class="label label-default">{{ subtitle }}</span> </h3>
                <hr>
            </div>

            <div class="col-md-12" style="margin-bottom: 15px">
                <form action="{{ url_for('produtos.atualiza_promocoes') }}" method="POST">
                    {{ form.csrf_token }} 

                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form.enviar(class="btn btn-primary")}}
                        </div>
                    </div>
                </form>
            </div>

            {% if produtos %}
            <div class="col-md-12" style="margin-bottom: 15px">
                
                <table
                    id="mytable"
                    class="display" 
                    data-toggle="table"
                    data-search="true"
                    data-show-columns="true"
                    data-click-to-select="true"
                    data-toolbar="#toolbar"
                    data-show-export="true">
                    <thead>
                        <tr>
                            <th data-sortable="true">Codigo</th>
                            <th data-sortable="true">Descrição</th>
                            <th data-sortable="true">Marca</th>
                            <th data-sortable="true">Data Inicio</th>
                            <th data-sortable="true">Data Fim</th>
                            <th>Preço</th>
                            <th>Preço Oferta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in produtos %}
                        <tr>
                            <td>{{ p.idsubproduto }}</td>
                            <td>{{ '%s'|format(p.descrresproduto) }}</td>
                            <td>{{ p.produto.fabricante }}</td>
                            <td>{{ p.preco.dtinipromocaovar|date_format }}</td>
                            <td>{{ p.preco.dtfimpromocaovar|date_format }}</td>
                            <td>{{ p.preco.valprecovarejo|currency }}</td>
                            <td>{{ p.preco.valpromvarejo|currency }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
            </div>
            {% else %}
            <div class="col-md-12" style="margin-bottom: 15px">
                <h3 class="text-info text-center">Não existem produtos para serem atualizados.</h3>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}